<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/W3villa/Desktop/Automation Framework Development/FrameworkDevelopment/src/test/java/com/practice/testCases/productPageTestCase.java">
        <classes>
            <class name="com.practice.testCases.OpenJobsMenuSendText">
            </class>
            <class name="com.practice.testCases.jobtitleanduserlist">
            </class>
            <class name="com.practice.testCases.recommendedcareer">
            </class>
        </classes>
    </test>
</suite>